{% extends "base.html" %} {% block content %}
<div class="container-lg mt-3">
    <div class="row">
        <div
            class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5"
        >
            <h1 class="display-3">{{ _('Page Analyzer') }}</h1>
            <p class="lead">
                {{ _('Check websites for SEO suitability for free') }}
            </p>
            <form
                action="/urls "
                method="post"
                class="d-flex justify-content-center"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <label for="text" class="visually-hidden"
                    >{{ _('URL to check') }}</label
                >
                <input
                    type="text"
                    name="url"
                    id="text"
                    placeholder="https://www.example.com"
                    value="{{ url.name|default('', true) }}"
                    class="form-control form-control-lg"
                    required=""
                />
                <input
                    type="submit"
                    class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3"
                    value="{{ _('Run the scan') }}"
                />
            </form>
        </div>
    </div>
</div>
{% endblock %}
