{% extends "base.html" %} {% block content %}
<div class="container-lg mt-3">
    <h1>{{ _('Site') }}: {{ url.name }}</h1>

    <div class="table-responsive">
        <table
            class="table table-bordered table-hover text-nowrap"
            data-test="url"
        >
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ url.id }}</td>
                </tr>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <td>{{ url.name }}</td>
                </tr>
                <tr>
                    <th>{{ _('Created at') }}</th>
                    <td>{{ url.created_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 class="mt-5 mb-3">{{ _('Checks') }}</h2>
    <form method="post" action="/urls/{{ url.id }}/checks" class="mb-4">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
            type="submit"
            class="btn btn-primary"
            value="{{ _('Run Check') }}"
        />
    </form>

    <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
            <thead>
                <tr>
                    <th>{{ _('ID') }}</th>
                    <th>{{ _('Status Code') }}</th>
                    <th>{{ _('H1 Heading') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th>{{ _('Created at') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for check in url.checks %}
                <tr>
                    <td>{{ check.id }}</td>
                    <td>{{ check.status_code }}</td>
                    <td>{{ check.h1 }}</td>
                    <td>{{ check.title }}</td>
                    <td>{{ check.description }}</td>
                    <td>{{ check.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
